// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$checkbox-name: 'checkbox';
$checkbox-x: 0px;
$checkbox-y: 137px;
$checkbox-offset-x: 0px;
$checkbox-offset-y: -137px;
$checkbox-width: 18px;
$checkbox-height: 18px;
$checkbox-total-width: 51px;
$checkbox-total-height: 664px;
$checkbox-image: '../img/sprite.png';
$checkbox: (0px, 137px, 0px, -137px, 18px, 18px, 51px, 664px, '../img/sprite.png', 'checkbox', );
$checkbox-chhov-name: 'checkbox_chhov';
$checkbox-chhov-x: 0px;
$checkbox-chhov-y: 65px;
$checkbox-chhov-offset-x: 0px;
$checkbox-chhov-offset-y: -65px;
$checkbox-chhov-width: 18px;
$checkbox-chhov-height: 18px;
$checkbox-chhov-total-width: 51px;
$checkbox-chhov-total-height: 664px;
$checkbox-chhov-image: '../img/sprite.png';
$checkbox-chhov: (0px, 65px, 0px, -65px, 18px, 18px, 51px, 664px, '../img/sprite.png', 'checkbox_chhov', );
$checkbox-cln-name: 'checkbox_cln';
$checkbox-cln-x: 0px;
$checkbox-cln-y: 47px;
$checkbox-cln-offset-x: 0px;
$checkbox-cln-offset-y: -47px;
$checkbox-cln-width: 18px;
$checkbox-cln-height: 18px;
$checkbox-cln-total-width: 51px;
$checkbox-cln-total-height: 664px;
$checkbox-cln-image: '../img/sprite.png';
$checkbox-cln: (0px, 47px, 0px, -47px, 18px, 18px, 51px, 664px, '../img/sprite.png', 'checkbox_cln', );
$checkbox-hov-name: 'checkbox_hov';
$checkbox-hov-x: 0px;
$checkbox-hov-y: 83px;
$checkbox-hov-offset-x: 0px;
$checkbox-hov-offset-y: -83px;
$checkbox-hov-width: 18px;
$checkbox-hov-height: 18px;
$checkbox-hov-total-width: 51px;
$checkbox-hov-total-height: 664px;
$checkbox-hov-image: '../img/sprite.png';
$checkbox-hov: (0px, 83px, 0px, -83px, 18px, 18px, 51px, 664px, '../img/sprite.png', 'checkbox_hov', );
$content-file-name: 'content_file';
$content-file-x: 0px;
$content-file-y: 600px;
$content-file-offset-x: 0px;
$content-file-offset-y: -600px;
$content-file-width: 51px;
$content-file-height: 64px;
$content-file-total-width: 51px;
$content-file-total-height: 664px;
$content-file-image: '../img/sprite.png';
$content-file: (0px, 600px, 0px, -600px, 51px, 64px, 51px, 664px, '../img/sprite.png', 'content_file', );
$favicon-name: 'favicon';
$favicon-x: 0px;
$favicon-y: 155px;
$favicon-offset-x: 0px;
$favicon-offset-y: -155px;
$favicon-width: 23px;
$favicon-height: 23px;
$favicon-total-width: 51px;
$favicon-total-height: 664px;
$favicon-image: '../img/sprite.png';
$favicon: (0px, 155px, 0px, -155px, 23px, 23px, 51px, 664px, '../img/sprite.png', 'favicon', );
$fb-name: 'fb';
$fb-x: 0px;
$fb-y: 18px;
$fb-offset-x: 0px;
$fb-offset-y: -18px;
$fb-width: 6px;
$fb-height: 13px;
$fb-total-width: 51px;
$fb-total-height: 664px;
$fb-image: '../img/sprite.png';
$fb: (0px, 18px, 0px, -18px, 6px, 13px, 51px, 664px, '../img/sprite.png', 'fb', );
$fb-big-name: 'fb_big';
$fb-big-x: 0px;
$fb-big-y: 220px;
$fb-big-offset-x: 0px;
$fb-big-offset-y: -220px;
$fb-big-width: 43px;
$fb-big-height: 42px;
$fb-big-total-width: 51px;
$fb-big-total-height: 664px;
$fb-big-image: '../img/sprite.png';
$fb-big: (0px, 220px, 0px, -220px, 43px, 42px, 51px, 664px, '../img/sprite.png', 'fb_big', );
$fb-big-tr-name: 'fb_big_tr';
$fb-big-tr-x: 0px;
$fb-big-tr-y: 304px;
$fb-big-tr-offset-x: 0px;
$fb-big-tr-offset-y: -304px;
$fb-big-tr-width: 43px;
$fb-big-tr-height: 42px;
$fb-big-tr-total-width: 51px;
$fb-big-tr-total-height: 664px;
$fb-big-tr-image: '../img/sprite.png';
$fb-big-tr: (0px, 304px, 0px, -304px, 43px, 42px, 51px, 664px, '../img/sprite.png', 'fb_big_tr', );
$instagram-name: 'instagram';
$instagram-x: 0px;
$instagram-y: 31px;
$instagram-offset-x: 0px;
$instagram-offset-y: -31px;
$instagram-width: 16px;
$instagram-height: 16px;
$instagram-total-width: 51px;
$instagram-total-height: 664px;
$instagram-image: '../img/sprite.png';
$instagram: (0px, 31px, 0px, -31px, 16px, 16px, 51px, 664px, '../img/sprite.png', 'instagram', );
$instagram-big-name: 'instagram_big';
$instagram-big-x: 0px;
$instagram-big-y: 388px;
$instagram-big-offset-x: 0px;
$instagram-big-offset-y: -388px;
$instagram-big-width: 43px;
$instagram-big-height: 42px;
$instagram-big-total-width: 51px;
$instagram-big-total-height: 664px;
$instagram-big-image: '../img/sprite.png';
$instagram-big: (0px, 388px, 0px, -388px, 43px, 42px, 51px, 664px, '../img/sprite.png', 'instagram_big', );
$instagram-big-tr-name: 'instagram_big_tr';
$instagram-big-tr-x: 0px;
$instagram-big-tr-y: 472px;
$instagram-big-tr-offset-x: 0px;
$instagram-big-tr-offset-y: -472px;
$instagram-big-tr-width: 43px;
$instagram-big-tr-height: 42px;
$instagram-big-tr-total-width: 51px;
$instagram-big-tr-total-height: 664px;
$instagram-big-tr-image: '../img/sprite.png';
$instagram-big-tr: (0px, 472px, 0px, -472px, 43px, 42px, 51px, 664px, '../img/sprite.png', 'instagram_big_tr', );
$phone-icon-name: 'phone_icon';
$phone-icon-x: 0px;
$phone-icon-y: 557px;
$phone-icon-offset-x: 0px;
$phone-icon-offset-y: -557px;
$phone-icon-width: 43px;
$phone-icon-height: 43px;
$phone-icon-total-width: 51px;
$phone-icon-total-height: 664px;
$phone-icon-image: '../img/sprite.png';
$phone-icon: (0px, 557px, 0px, -557px, 43px, 43px, 51px, 664px, '../img/sprite.png', 'phone_icon', );
$point-map-name: 'point_map';
$point-map-x: 0px;
$point-map-y: 514px;
$point-map-offset-x: 0px;
$point-map-offset-y: -514px;
$point-map-width: 43px;
$point-map-height: 43px;
$point-map-total-width: 51px;
$point-map-total-height: 664px;
$point-map-image: '../img/sprite.png';
$point-map: (0px, 514px, 0px, -514px, 43px, 43px, 51px, 664px, '../img/sprite.png', 'point_map', );
$radio-name: 'radio';
$radio-x: 0px;
$radio-y: 101px;
$radio-offset-x: 0px;
$radio-offset-y: -101px;
$radio-width: 18px;
$radio-height: 18px;
$radio-total-width: 51px;
$radio-total-height: 664px;
$radio-image: '../img/sprite.png';
$radio: (0px, 101px, 0px, -101px, 18px, 18px, 51px, 664px, '../img/sprite.png', 'radio', );
$radio-chhov-name: 'radio_chhov';
$radio-chhov-x: 0px;
$radio-chhov-y: 119px;
$radio-chhov-offset-x: 0px;
$radio-chhov-offset-y: -119px;
$radio-chhov-width: 18px;
$radio-chhov-height: 18px;
$radio-chhov-total-width: 51px;
$radio-chhov-total-height: 664px;
$radio-chhov-image: '../img/sprite.png';
$radio-chhov: (0px, 119px, 0px, -119px, 18px, 18px, 51px, 664px, '../img/sprite.png', 'radio_chhov', );
$twitter-name: 'twitter';
$twitter-x: 0px;
$twitter-y: 8px;
$twitter-offset-x: 0px;
$twitter-offset-y: -8px;
$twitter-width: 12px;
$twitter-height: 10px;
$twitter-total-width: 51px;
$twitter-total-height: 664px;
$twitter-image: '../img/sprite.png';
$twitter: (0px, 8px, 0px, -8px, 12px, 10px, 51px, 664px, '../img/sprite.png', 'twitter', );
$twitter-big-name: 'twitter_big';
$twitter-big-x: 0px;
$twitter-big-y: 430px;
$twitter-big-offset-x: 0px;
$twitter-big-offset-y: -430px;
$twitter-big-width: 43px;
$twitter-big-height: 42px;
$twitter-big-total-width: 51px;
$twitter-big-total-height: 664px;
$twitter-big-image: '../img/sprite.png';
$twitter-big: (0px, 430px, 0px, -430px, 43px, 42px, 51px, 664px, '../img/sprite.png', 'twitter_big', );
$twitter-big-tr-name: 'twitter_big_tr';
$twitter-big-tr-x: 0px;
$twitter-big-tr-y: 262px;
$twitter-big-tr-offset-x: 0px;
$twitter-big-tr-offset-y: -262px;
$twitter-big-tr-width: 43px;
$twitter-big-tr-height: 42px;
$twitter-big-tr-total-width: 51px;
$twitter-big-tr-total-height: 664px;
$twitter-big-tr-image: '../img/sprite.png';
$twitter-big-tr: (0px, 262px, 0px, -262px, 43px, 42px, 51px, 664px, '../img/sprite.png', 'twitter_big_tr', );
$vk-name: 'vk';
$vk-x: 0px;
$vk-y: 0px;
$vk-offset-x: 0px;
$vk-offset-y: 0px;
$vk-width: 14px;
$vk-height: 8px;
$vk-total-width: 51px;
$vk-total-height: 664px;
$vk-image: '../img/sprite.png';
$vk: (0px, 0px, 0px, 0px, 14px, 8px, 51px, 664px, '../img/sprite.png', 'vk', );
$vk-big-name: 'vk_big';
$vk-big-x: 0px;
$vk-big-y: 178px;
$vk-big-offset-x: 0px;
$vk-big-offset-y: -178px;
$vk-big-width: 44px;
$vk-big-height: 42px;
$vk-big-total-width: 51px;
$vk-big-total-height: 664px;
$vk-big-image: '../img/sprite.png';
$vk-big: (0px, 178px, 0px, -178px, 44px, 42px, 51px, 664px, '../img/sprite.png', 'vk_big', );
$vk-big-tr-name: 'vk_big_tr';
$vk-big-tr-x: 0px;
$vk-big-tr-y: 346px;
$vk-big-tr-offset-x: 0px;
$vk-big-tr-offset-y: -346px;
$vk-big-tr-width: 44px;
$vk-big-tr-height: 42px;
$vk-big-tr-total-width: 51px;
$vk-big-tr-total-height: 664px;
$vk-big-tr-image: '../img/sprite.png';
$vk-big-tr: (0px, 346px, 0px, -346px, 44px, 42px, 51px, 664px, '../img/sprite.png', 'vk_big_tr', );
$spritesheet-width: 51px;
$spritesheet-height: 664px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($checkbox, $checkbox-chhov, $checkbox-cln, $checkbox-hov, $content-file, $favicon, $fb, $fb-big, $fb-big-tr, $instagram, $instagram-big, $instagram-big-tr, $phone-icon, $point-map, $radio, $radio-chhov, $twitter, $twitter-big, $twitter-big-tr, $vk, $vk-big, $vk-big-tr, );
$spritesheet: (51px, 664px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
