@import "elements/header";
@import "elements/nav";
@import "elements/slider";
@import "elements/aside";
@import "elements/main_page";
@import "elements/secondary_content";


@import "elements/footer";
@import "elements/ui";



* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $HelR;
}

a {
    transition: all ease .2s;
}

html,
body {
    font-family: $HelR;
    font-size: 1em; // width:fit-content;
}

.full_width {
    width: 100%; // width: fit-content;
}

.content_width {
    width: $ContentWidt; // outline:1px dotted red;
    margin: 0 auto;
    box-sizing: border-box;
}


.white {
    color: $white;
}

h1 {
    font-family: $Museo500;
    color: $darkBlue;
    font-size: 2.75em;
    margin: 1.5em 0;
}

h2 {
    font-family: $Museo500;
    color: #185394;
    font-size: 2.1em;
    margin: 1.5em 0;
}

h3 {
    font-family: $Museo700;
    color: $darkBlue;
    font-size: 1em;
    text-transform: uppercase;
    margin: 1.5em 0;
}

h4 {
    font-family: $Museo700;
    color: $darkBlue;
    font-size: 0.9em;
    text-transform: uppercase;
    margin: 1.5em 0;
}

h5 {
    font-family: $Museo700;
    color: $darkBlue;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 1.5em 0;
}

h6 {
    font-family: $Museo700;
    color: $darkBlue;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 1.5em 0;
}


p {
    // /* font-family: HelveticaNeueCyr; */
    color: $lightBlack;
    line-height: 1.4em;
    font-size: 0.95em;
    margin:1em 0;
}

.logo {
    height: 121px;
    width: 103px;
}

.iconed_text {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 278px; // outline:1px dotted red;
    &_info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 0;
        span {
            color: $white;
            font-size: 0.8em;
            width: 200px;
        }
        a {
            font-family: $Museo500;
            color: $white;
            font-size: 1.2em;
            margin: .4em 0 0 0;
            transition: all ease .2s;
            width: 200px;
            &:hover {
                color: $darkOrange;
            }
        }
    }
}

.search {
    background-image: url(../img/svg/search.svg);
    background-repeat: no-repeat;
    background-position: 95% center;
    &_light {
        background-image: url(../img/svg/search_light.svg);
        color: $white;
    }
}

.be_pacient_online {
    background-image: url('../img/bepatientonline.png');
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 18.125em;
    height: 14em;
    .be_pacient_online_h {
        font-family: $Museo500;
        color: $white;
        font-size: 1.57em;
        text-align: center;
        margin: 0 0 1em 0;
    }
}


.ui_block {
    padding: 57px;
    margin: 3em;
    padding: 3em; // width: 1392px;
    height: auto;
    border: 1px solid #ccc;
    .soc_icons {
        background-color: $lightBlack;
        padding: 3em;
    }
}