// Helvetica


// @font-face {
//     font-family: 'helveticaneuecyrblack';
//     src: url('fonts/helveticaneuecyr-black-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-black-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrblack_italic';
//     src: url('fonts/helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-blackitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrbold';
//     src: url('fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-bold-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrbold_italic';
//     src: url('fonts/helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-bolditalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyritalic';
//     src: url('fonts/helveticaneuecyr-italic-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-italic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrlight';
//     src: url('fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-light-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrlight_italic';
//     src: url('fonts/helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-lightitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrmedium';
//     src: url('fonts/helveticaneuecyr-medium-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-medium-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('fonts/helveticaneuecyr-roman-webfont.woff2') format('woff2'),
    url('fonts/helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}






// @font-face {
//     font-family: 'helveticaneuecyrthin';
//     src: url('fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-thin-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrthin_italic';
//     src: url('fonts/helveticaneuecyr-thinitalic-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-thinitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'helveticaneuecyrultralight';
//     src: url('fonts/helveticaneuecyr-ultralight_0-webfont.woff2') format('woff2'),
//     url('fonts/helveticaneuecyr-ultralight_0-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }


// // Museo
// @font-face {
//     font-family: 'museo_sans_cyrl900';
//     src: url('fonts/museosansblack-webfont.woff2') format('woff2'),
//          url('fonts/museosansblack-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'museo_sans_cyrl900_italic';
//     src: url('fonts/museosansblackitalic-webfont.woff2') format('woff2'),
//          url('fonts/museosansblackitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
    font-family: 'museo_sans_cyrl700';
    src: url('fonts/museosansbold-webfont.woff2') format('woff2'),
         url('fonts/museosansbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'museo_sans_cyrl100_italic';
//     src: url('fonts/museosanslightitalic-webfont.woff2') format('woff2'),
//          url('fonts/museosanslightitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'museo_sans_cyrl100';
//     src: url('fonts/museosanslight-webfont.woff2') format('woff2'),
//          url('fonts/museosanslight-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
    font-family: 'museo_sans_cyrl500';
    src: url('fonts/museosansmedium-webfont.woff2') format('woff2'),
         url('fonts/museosansmedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

// @font-face {
//     font-family: 'museo_sans_cyrl700_italic';
//     src: url('fonts/museosansbolditalic-webfont.woff2') format('woff2'),
//          url('fonts/museosansbolditalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'museo_sans_cyrl300';
//     src: url('fonts/museosansregular-webfont.woff2') format('woff2'),
//          url('fonts/museosansregular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'museo_sans_cyrl300_italic';
//     src: url('fonts/museosansitalic-webfont.woff2') format('woff2'),
//          url('fonts/museosansitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'museo_sans_cyrl500_italic';
//     src: url('fonts/museosansmediumitalic-webfont.woff2') format('woff2'),
//          url('fonts/museosansmediumitalic-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }




// helveticaneuecyr
// $Helb: 'helveticaneuecyrblack';
// $Helbi: 'helveticaneuecyrblack_italic';
// $HelB: 'helveticaneuecyrbold';
// $HelBi: 'helveticaneuecyrbold_italic';
// $Heli: 'helveticaneuecyritalic';
// $HelLi: 'helveticaneuecyrlight_italic';
// $HelM: 'helveticaneuecyrmedium';
// $Hell: 'helveticaneuecyrlight';
$HelR: 'helveticaneuecyrroman';
// $HelT: 'helveticaneuecyrthin';
// $HelTi: 'helveticaneuecyrthin_italic';
// $HelUL: 'helveticaneuecyrultralight';



// museo_sans
// $Museo900: 'museo_sans_cyrl900';
// $Museo900i: 'museo_sans_cyrl900_italic';
$Museo700: 'museo_sans_cyrl700';
// $Museo100i: 'museo_sans_cyrl100_italic';
// $Museo100: 'museo_sans_cyrl100';
$Museo500: 'museo_sans_cyrl500';
// $Museo700i: 'museo_sans_cyrl700_italic';
// $Museo300: 'museo_sans_cyrl300';
// $Museo300i: 'museo_sans_cyrl300_italic';
// $Museo500i: 'museo_sans_cyrl500_italic';