footer {
    background-color: $lightBlack;
    margin: 3em 0 0 0;
    color: $white;
}

.footer_content {
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: center;
    height: 321px;


    &_dop {
        width: 18em;
        form {
            input {
                width: 100%;
                background-color: transparent;
            }
        }
        ul {
            display: flex;
            flex-flow: row-nowrap;
            justify-content: space-between;
            align-items: center;
            li {
                a {
                    div {
                        &:first-child {
                            display: none;
                        }
                        &:last-child {
                            display: inline-block;
                        }
                    }

                    div {
                        &:first-child {
                            display: inline-block;
                        }
                        &:last-child {
                            display: none;
                        }
                    }
                    &:hover {
                        div {

                            &:first-child {
                                display: none;
                            }
                            &:last-child {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    &_cont {
        padding: 1em 0;
        height: 196px;
        width: 278px; // outline: 1px dotted red;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        width: 18em;
        box-sizing: border-box;
        span {
            a {
                font-family: $HelR;
                font-size: 1em;
                line-height: 20px;
                text-decoration: underline;
            }
        }
    }
}

.black_back {
    background-color: $black;
}

.copy_content {
    display: flex;
    flex-flow: row-nowrap;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    span {
        font-family: $HelR;
        color: #a0a0a0;
        font-size: 12px;

        text-align: left;
    }

    ul {
        display: flex;
        flex-flow: row-nowrap;
        justify-content: space-between;
        align-items: center;

        li {
            margin: 0 1.5em 0 0;
            a {
                font-family: $HelR;
                color: #a0a0a0;
                font-size: 12px;

                text-decoration: underline;
                text-align: left;
                &:hover {
                    color: $darkOrange;
                }
            }
        }
    }

    a {
        font-family: $HelR;
        color: #ffffff;
        font-size: 14px;

        text-decoration: underline;
        text-align: left;
    }
}

.footer_menu {
    width: 20em;
    li {
        a {
            // color: $white;
            color: #a0a0a0;
            font-size: 0.9em;
            line-height: 30px;
            text-decoration: underline;
            text-align: left;
            &:hover {
                color: $white;
            }
        }
    }
}

.limited_capabilities {
    position: relative;
    &:before {
        content: "";
        background-image: url('../img/svg/eye.svg');
        background-repeat: no-repeat;
        width: 25px;
        height: 15px;
        position: absolute;
        left: -35px;
        top: 0;
        z-index: 2;
    }
}