.main_page_wr {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    section {
        width: 100%; // outline: 1px dotted red;
        margin: 1em 0 0 0;
        &>a {
            width: 98%;
        }
    }
    aside {
        width: 18.125em;
        margin: 1em 0 0 0; // outline: 1px dotted red;
    }
}

.aside_block {
    background-color: $grey;
    padding: 1.9em 2.2em;
    margin: 1em 0 1em 0;
    &_item {
        a {
            display: block;
            font-family: $HelR;
            margin: 1em 0;
            &:first-child {
                color: $black;
                font-size: 0.9em;
                line-height: 20px;
                text-decoration: underline;
                b {

                    font-weight: bold;
                }
            }
            &:last-child {
                color: lighten($black, 45%);
                font-size: 0.9em;
                line-height: 20px;
                text-decoration: underline;
            }
            &:hover {
                color: $darkOrange;
            }
        }
    }
}

hr {
    border: none;
    border-bottom: 1px solid lighten($black, 80%);
    margin: 1em 0 1.5em 0;
}



.flex_blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    &_item {
        width: 290px;
        height: 464px;
        box-sizing: border-box;
        background-color: $white;
        border: 1px solid lighten($black, 85%);
        position: relative;
        overflow: hidden;
        margin: 0 0 16px 0;
        &_small {
            height: 224px;
        }
        &_long {
            width: 594px;
            height: 224px;
            .flex_blocks_item_p {
                max-height: 60px;
            }
        }
        &_big {
            width: 594px;
            height: 464px;
            .flex_blocks_item_p {
                max-height: 60px;
            }
        }
        &:hover {
            img {
                opacity: .8;
            }
            .flex_blocks_item_h {
                color: $darkOrange;
            }
            .flex_blocks_item_p {
                color: $darkOrange;
            }
        }
        &_i {
            transition: all ease .2s;
        }
        &_h {
            font-family: $Museo500;
            color: $black;
            font-size: 1.25em;
            line-height: 23px;
            margin: 1em 0;
            padding: 0 1em; // outline:1px dotted red;
            max-height: 7em;
            overflow: hidden;
            transition: all ease .2s;
        }
        &_p {
            font-family: $HelR;
            color: lighten($black, 50%);
            font-size: 0.95em;
            padding: 0 1em;
            margin: 1em 0;
            line-height: 20px;
            max-height: 6.5em;
            overflow: hidden;
            transition: all ease .2s;
        }
        &_d {
            font-family: $HelR;
            color: darken($grey, 30%);
            font-size: 0.8em;
            text-transform: uppercase;
            line-height: 20px;
            text-align: left;
            padding: 0 1em;
            position: absolute;
            bottom: 1em;
            left: 1em;
        }
    }
}