aside.aside_secondary
    .aside_secondary_h Пациентам
    ul.aside_secondary_menu
        li
            a(href="javascript://") Контакты
            ul
                li
                    a(href="#") Клинический отдел гастроэнтерологии и гепатологии
                li
                    a(href="#") Клинический отдел пульмонологии и аллергологии
                li
                    a(href="#") Клинический отдел терапии и профпатологии
                li
                    a(href="#") Кардиологическое отделение
                li
                    a(href="#") Отделение реанимации и интенсивной терапии
                li
                    a(href="#") Приемное отделение
                li
                    a(href="#") Амбулаторно-поликлиническое отделение
                li
                    a(href="#") Отделение физиотерапии и лечебной физкультуры
        li.expanded
            a(href="javascript://") Врачи
            ul
                li
                    a(href="#") Клинический отдел гастроэнтерологии и гепатологии
                li
                    a(href="#") Клинический отдел пульмонологии и аллергологии
                li
                    a(href="#") Клинический отдел терапии и профпатологии
                li
                    a(href="#") Кардиологическое отделение
                li
                    a(href="#") Отделение реанимации и интенсивной терапии
                li
                    a(href="#") Приемное отделение
                li
                    a(href="#") Амбулаторно-поликлиническое отделение
                li
                    a(href="#") Отделение физиотерапии и лечебной физкультуры
        li
            a(href="javascript://") Отделения
            ul
                li
                    a(href="#") Клинический отдел гастроэнтерологии и гепатологии
                li
                    a(href="#") Клинический отдел пульмонологии и аллергологии
                li
                    a(href="#") Клинический отдел терапии и профпатологии
                li
                    a(href="#") Кардиологическое отделение
                li
                    a(href="#") Отделение реанимации и интенсивной терапии
                li
                    a(href="#") Приемное отделение
                li
                    a(href="#") Амбулаторно-поликлиническое отделение
                li
                    a(href="#") Отделение физиотерапии и лечебной физкультуры
    hr
    .be_pacient_online
        .be_pacient_online_h Онлайн-запись на прием к врачу
        a(href="#").button.orangebutton Стать пациентом