ul.breadcrumbs
    li
        a(href="/")
            .favicon
    li
        a(href="#") Пациентам
    li
        a(href="#") Клинический отдел гастроэнтрологии
    li
        a(href="#") Статьи и публикации о здоровье и долголетии
    li
        a(href="#") Для медиков и профессоров
    li Пероральный дексаметазон...
