.full_width
    .secondary_content.content_width
        include aside.pug
        section
            include breadcrumbs.pug
            article
                h1 Егорова Светлана Валентиновна
            .content_phoblock
                .content_phoblock_photo
                    img(src="img/doctor2.jpg", alt="#")
                article.content_phoblock_content
                    table.listinfo
                        tr
                            td Должность:
                            td Заведующая отделением
                        tr
                            td Звание:
                            td Врач высшей квалификационной категории.
                        tr
                            td Отделение:
                            td Ультрозвуковой диагностики
                    a(href="#").button.orangebutton Записаться на прием
            .tabz
                ul
                    li
                        a(href="#tab_1") Биография
                    li
                        a(href="#tab_2") Публикации врача
                    li
                        a(href="#tab_3") Направления
                    li
                        a(href="#tab_4") Отзывы
                    li
                        a(href="#tab_5") Достижения и награды
                #tab_1
                    .headered_horizontal
                        span Образование
                        article
                            p В 2005 году окончил с отличием Военно-Медицинскую академию;
                                | Там же, в 2006 году, интернатуру по хирургии.
                                | С 2006 по 2008 год проходил военную службу врачом – хирургом в войсках Северокавказского военного округа.
                                | В 2011 году с отличием окончил клиническую ординатуру по урологии при кафедре урологии Военно-медицинской академии.
                                | На 3-м году ординатуры уролог Гаджиев Н. К. успешно защитил кандидатскую диссертацию по теме мочекаменной болезни.
                                | После окончания ординатуры был распределен в 4 филиал ГВКГ им. Бурденко, Москва.
                    .headered_horizontal
                        span Места работы
                        article
                            p В 2011 году прошел обучающую программу для резидентов в урологии в г. Праге, Чехия.
                                | В том же 2011 году прошел стажировку по мочекаменной болезни в клинике Гармиш – Партенкирхен, Германия.
                                | В 2012 году последовала стажировка уролога по функциональной урологии в университетской клинике Ахена, Германия.
                                | Осенью 2012 году -  стажировка по лечению рака простаты в клиниках Берлина, Ахена, Кельна, Мюнхена, Франкфурта, Германия. Учился в клинике MAYO, ROCHESTER, USA.
                                | В 2013 обучение в рамках образовательной программы Weil-Cornell, Зальцбург, Австрия.
                                | В 2012 году уролог Гаджиев Н. К. принял активное участие в форуме международной ассоциации по удержанию мочи, Пекин, Китай (ICS).
                                | В 2014 году проходил стажировку по тазовой хирургии в университетской клинике Левена, Бельгия, обучение по лечению мочекаменной болезни по программе AUA Segura
                #tab_2
                    .headered_horizontal
                        span.headered_horizontal_bigspan 2011 год
                        article
                            p
                                a(href="#") «Ультрозвуковая диагностика при осложнениях»
                                | Журнал «Medecine» 8 января 2011 года.
                    .headered_horizontal
                        span.headered_horizontal_bigspan 2010 год
                        article
                            p
                                a(href="#") «Ультрозвуковая диагностика при осложнениях»
                                | Журнал «Medecine» 8 января 2011 года.
                            p
                                a(href="#") «Ультрозвуковая диагностика при осложнениях»
                                |Журнал «Medecine» 8 января 2011 года.
                    .headered_horizontal
                        span.headered_horizontal_bigspan 2008 год
                        article
                            p
                                a(href="#") «Ультрозвуковая диагностика при осложнениях»
                                | Журнал «Medecine» 8 января 2011 года.
                            p

                                a(href="#") «Ультрозвуковая диагностика при осложнениях в пояснично-крсцовом отделе позвоночника»
                                | Журнал «Medecine» 8 января 2011 года.
                            p

                                a(href="#") «Ультрозвуковая диагностика при осложнениях» 
                                | Журнал «Medecine» 8 января 2011 года.
                            p

                                a(href="#") «Ультрозвуковая диагностика при осложнениях в пояснично-крсцовом отделе позвоночника»
                                | Журнал «Medecine» 8 января 2011 года.

                            p
                                a(href="#") «Ультрозвуковая диагностика при осложнениях»
                                | Журнал «Medecine» 8 января 2011 года.

                            p
                                a(href="#") «Ультрозвуковая диагностика при осложнениях в пояснично-крсцовом отделе позвоночника»
                                | Журнал «Medecine» 8 января 2011 года.
                #tab_3
                    .headered_horizontal
                        span Проводимые операции и процедуры
                        article
                            ul.compact_list
                                li УЗИ органов брюшной полости с высокотехнологичной обработкой изображения;
                                li УЗИ предстательной железы и семенных пузырьков абдоминальным и трансректальным датчиками;
                                li УЗИ мошонки;
                                li УЗИ малого таза у женщин абдоминальным и трансвагинальным датчиками (в том числе фолликулометрия);
                                li УЗИ при малых сроках беременности (до 12 недель);
                                li Ультразвуковая гистеросальпингография (исследование проходимости маточных труб, полости матки);
                                li УЗИ почек, надпочечников и мочевыводящих путей;
                                li УЗИ молочных желез с высокотехнологичной обработкой изображения;
                                li УЗИ щитовидной железы и паращитовидных желез с высокотехнологичной обработкой изображения;
                                li УЗИ мягких тканей;
                                li УЗИ слюнных желез;
                                li УЗИ грудных желез (у мужчин);
                                li УЗИ плевральной полости;
                                li Ультразвуковое сопровождение всех видов пункционных лечебных и диагностических биопсий;
                                li УЗИ лимфатической системы;
                                li УЗИ повреждений костно-мышечной системы;
                                li Дуплексное исследование сосудов верхних и нижних конечностей, брахиоцефальных артерий ( В-режим+допплерография).
                                li Триплексное исследование сосудов верхних и нижних конечностей, брахиоцефальных артерий (дуплекс + цвет).

                #tab_4
                    .headered_horizontal
                        span.headered_horizontal_smallspan Николаев Илья Николаевич
                            span 11.03.17
                        article
                            p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей.
                    .headered_horizontal
                        span.headered_horizontal_smallspan Николаев Илья Николаевич
                            span 11.03.17
                        article
                           p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей. Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики.
                    .headered_horizontal
                        span.headered_horizontal_smallspan Николаев Илья Николаевич
                            span 11.03.17
                        article
                            p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей. Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики.
                    .headered_horizontal
                        span.headered_horizontal_smallspan Процедуры и диагностические исследования
                            span 11.03.17
                        article
                            p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей. Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики.

                #tab_5
                    article
                        p В 2011 году прошел обучающую программу для резидентов в урологии в г. Праге, Чехия.
                            |В том же 2011 году прошел стажировку по мочекаменной болезни в клинике Гармиш – Партенкирхен, Германия.
                            |В 2012 году последовала стажировка уролога по функциональной урологии в университетской клинике Ахена, Германия.
                            |В 2013 обучение в рамках образовательной программы Weil-Cornell, Зальцбург, Австрия.
                            |В 2012 году уролог Гаджиев Н. К. принял активное участие в форуме международной ассоциации по удержанию мочи, Пекин, Китай (ICS).
                            |В 2014 году проходил стажировку по тазовой хирургии в университетской клинике Левена, Бельгия, обучение по лечению мочекаменной болезни по программе AUA Segura
                    .certs
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="#")
                            span Лучший врач года, 2011
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="img/cert.jpg")
                            span Лучший врач года, 2011
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="img/cert.jpg")
                            span Лучший врач года, 2011
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="img/cert.jpg")
                            span Лучший врач года, 2011
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="img/cert.jpg")
                            span Лучший врач года, 2011
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="img/cert.jpg")
                            span Лучший врач года, 2011
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="img/cert.jpg")
                            span Лучший врач года, 2011
                        a(href="img/cert.jpg").certs_item.popup_img
                            .certs_item_img
                                img(src="img/cert.jpg", alt="img/cert.jpg")
                            span Лучший врач года, 2011
