header
    .header
        .header_left
            a(href="/")
                img(src="img/logo.png", alt="logo").logo
                span ФГБУ Всероссийский центр экстренной и радиационной медицыны имени А.М. Никифорова МЧС России
        .header_right
            .header_right_top
                ul
                    li
                        a(href="#") Онлайн запись на прием
                    li
                        a(href="#") Найти врача
                    li
                        a(href="#") Вакансии
                ul
                    li
                        a(href="#")
                            .twitter
                    li
                        a(href="#")
                            .instagram
                    li
                        a(href="#")
                            .vk
                    li
                        a(href="#")
                            .fb
            .header_right_bottom
                .iconed_text
                    .phone_icon
                    input(type="text").search
