.full_width
    .content_width
        .main_page_wr
            section
                h3 Новости и события
                .flex_blocks
                    a(href="#").flex_blocks_item
                        img(src="img/flex_b1.jpg", alt="").flex_blocks_item_i
                        .flex_blocks_item_h Международный науч. практич. конференц. "Многопрофессиональная клиника 21 века Высокотехнологичная медицина"
                        .flex_blocks_item_d 22 марта 2049
                    a(href="#").flex_blocks_item
                        img(src="img/flex_b1.jpg", alt="").flex_blocks_item_i
                        .flex_blocks_item_h Международный науч. практич. конференц. "Многопрофессиональная клиника 21 века Высокотехнологичная медицина"
                        .flex_blocks_item_d 22 марта 2049
                    a(href="#").flex_blocks_item.flex_blocks_item_small
                        .flex_blocks_item_h Международный науч. практич. конференц. "Многопрофессиональная клиника 21 века "Многопрофессиональная клиника 21 века Высокотехнологичная медицина"
                        .flex_blocks_item_d 22 марта 2049
                    a(href="#").flex_blocks_item.flex_blocks_item_small
                        .flex_blocks_item_h Международный науч. практич. конференц. "Многопрофессиональная клиника 21 века Высокотехнологичная медицина"

                        .flex_blocks_item_d 22 марта 2049
                    a(href="#").flex_blocks_item.flex_blocks_item_long
                        .flex_blocks_item_h Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина"
                        .flex_blocks_item_p Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина" Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина" Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина"
                        
                        .flex_blocks_item_d 22 марта 2049
                    a(href="#").flex_blocks_item.flex_blocks_item_big
                        img(src="img/flex_b2.jpg", alt="").flex_blocks_item_i
                        .flex_blocks_item_h Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина"
                        .flex_blocks_item_p Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина" Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина" Международный науч. практич. конференц. "Многопрофес сиональная клиника 21 века Высокотех нологичная медицина"
                        
                        .flex_blocks_item_d 22 марта 2049
                    a(href="#").flex_blocks_item
                        img(src="img/flex_b1.jpg", alt="").flex_blocks_item_i
                        .flex_blocks_item_h Международный науч. практич. конференц. "Многопрофессиональная клиника 21 века Высокотехнологичная медицина"
                        .flex_blocks_item_d 22 марта 2049
                a(href="#").button.full_width все публикации
            aside.aside_mainpage
                .be_pacient_online
                    .be_pacient_online_h Онлайн-запись на прием к врачу
                    a(href="#").button.orangebutton Стать пациентом
                .aside_block
                    h3 Вопросы и ответы
                    hr
                    .aside_block_item
                        a(href="#")
                            b Подскажите, может врач отказать в приеме пациента если он опоздал на 30 минут, из за большой очереди в регистратуре?
                            span Здравствуйте Николай Евгентевич! В случае опопздпния пациента к назначенному времени врач вправе начать прием другого пациента.
                    hr
                    .aside_block_item
                        a(href="#")
                            b Подскажите, может врач отказать в приеме пациента если он опоздал на 30 минут, из за большой очереди в регистратуре?
                            span Здравствуйте Николай Евгентевич! В случае опопздпния пациента к назначенному времени врач вправе начать прием другого пациента.
                    hr
                    a(href="#").button.full_width Задать вопрос