nav.content_width
    ul
        li.childrened
            a(href="#") Информация для клиентов
            .nav_secondary
                ul
                    li
                        a(href="#") Здоровый образ жизни
                    li
                        a(href="#") Симптомы
                    li
                        a(href="#") Болезни и состояния
                    li
                        a(href="#") Услуги и состояния
                    li
                        a(href="#") Услуги и процедуры
                    li
                        a(href="#") Первая помощь
                    li
                        a(href="#") Записаться на прием
                    li
                        a(href="#") Истории/оттызывы пациентов
                figure.nav_secondary_right
                    img(src="img/services.jpg",alt="")
                    figcaption
                        a(href="#") Онлайн сервисы для пациентов
        li
            a(href="#") Отделения и центры
        li
            a(href="#") Научная деятельность
        li.childrened
            a(href="#") Образовательная деятельность
            .nav_secondary.nav_secondary_right
                ul
                    li
                        a(href="#") Здоровый образ жизни
                    li
                        a(href="#") Симптомы
                    li
                        a(href="#") Болезни и состояния
                    li
                        a(href="#") Услуги и состояния
                    li
                        a(href="#") Услуги и процедуры
                    li
                        a(href="#") Первая помощь
                    li
                        a(href="#") Записаться на прием
                    li
                        a(href="#") Истории/оттызывы пациентов
                figure.nav_secondary_right
                    img(src="img/services.jpg",alt="")
                    figcaption
                        a(href="#") Онлайн сервисы для пациентов

        li.childrened
            a(href="#") Информация для профессионалов
            .nav_secondary.nav_secondary_right
                ul
                    li
                        a(href="#") Здоровый образ жизни
                    li
                        a(href="#") Симптомы
                    li
                        a(href="#") Болезни и состояния
                    li
                        a(href="#") Услуги и состояния
                    li
                        a(href="#") Услуги и процедуры
                    li
                        a(href="#") Первая помощь
                    li
                        a(href="#") Записаться на прием
                    li
                        a(href="#") Здоровый образ жизни
                    li
                        a(href="#") Симптомы
                    li
                        a(href="#") Болезни и состояния
                    li
                        a(href="#") Услуги и состояния
                    li
                        a(href="#") Услуги и процедуры
                    li
                        a(href="#") Первая помощь
                    li
                        a(href="#") Записаться на прием
                    li
                        a(href="#") Истории/оттызывы пациентов
                figure.nav_secondary_right
                    img(src="img/services.jpg",alt="")
                    figcaption
                        a(href="#") Онлайн сервисы для пациентов

        li
            a(href="#") Продукты и услуги