.full_width
    .content_width
        .main_page_wr
            section
                h3 Новости и события
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat itaque, harum voluptates molestiae asperiores laboriosam iste dicta cumque minima natus architecto ratione fugiat explicabo temporibus consectetur recusandae nulla sed ipsam laborum nesciunt possimus nostrum vero! Deleniti qui, placeat eius aut magnam libero iste modi blanditiis minima quae dolor incidunt voluptate velit eos quibusdam saepe suscipit. Odit dolorem placeat, nam, doloribus consectetur molestiae quam, ut explicabo expedita consequuntur enim eveniet vel.
            aside
                .be_pacient_online
                    .be_pacient_online_h Онлайн-запись на прием к врачу
                    a(href="#").button.orangebutton Стать пациентом
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima quasi facere architecto. Nobis rem odio illum est, dolorum explicabo corrupti neque enim eveniet dolores hic modi sed magni, veniam illo! Excepturi perferendis a, ullam ad magni aperiam nostrum! Voluptatum consequatur quas nulla, fugiat perspiciatis architecto ipsam consectetur cupiditate minima itaque.