.full_width
    .secondary_content.content_width
        include aside.pug
        section
            include breadcrumbs.pug
            article
                h1 Клинический отдел гастроэнтерологии и гепатологии
            .visit_submit
                .visit_submit_time
                    span Время работты:
                    span с 9:00 до 20:00
                .visit_submit_phones
                    span Телефоны отделения:
                    span +7 (812) 607-59-33,  +7 (812)  607-59-00 (доб. 300)
                .visit_submit_button
                    a(href="#").button.orangebutton Записаться на приём
            .content_phoblock
                .content_phoblock_photo
                    img(src="img/vrach_m.jpg", alt="#")
                    span Заведующий клиническим отделом гастроэнтерологии и гепатологии — заслуженный врач Российской Федерации, профессор, доктор  медицинских наук, врач-гастроэнтеролог высшей категории, главный гастроэнтеролог МЧС России  Бацков Сергей Сергеевич.
                article.content_phoblock_content
                    p Клинический отдел гастроэнтерологии  и гепатологии  является структурным  подразделением Клиники № 1, на который возложены задачи, связанные с диагностикой и лечением больных по профилю отдела,  разработкой и внедрением в клиническую практику новых лечебно-диагностических технологий, выполнение научных исследований по специальности, ведение учебно-методической работы с клиническими ординаторами и аспирантами ВЦЭРМ в области гастроэнтерологии, гепатологии, диетологии и нутрициологии.

                    p В клиническом отделе работают 2 доктора медицинских наук., профессор, 1 к.м.н., 2  врача высшей категории, 5 врачей-специалистов.
                     
                    p Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики. Обследование и лечение больных осуществляется в тесном контакте с врачами-эндоскопистами, клиническими морфологами, врачами лучевой диагностики, а также абдоминальными хирургами клиники №2.
                     
                    p Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики. Обследование и лечение больных осуществляется в тесном контакте с врачами-эндоскопистами, клиническими морфологами, врачами лучевой диагностики, а также абдоминальными хирургами клиники №2.
            .tabz
                ul
                    li
                        a(href="#tab_1") Процедуры и операции
                    li
                        a(href="#tab_2") Фотогалерея
                    li
                        a(href="#tab_3") Отзывы
                    li
                        a(href="#tab_4") Заболевания
                    li
                        a(href="#tab_5") Врачи отделения
                #tab_1
                    .headered_horizontal
                        span Операции
                        article
                            ol.compact_list
                                li Современная лабораторная диагностика болезней печени с  использованием маркеров оценки эффективности лечения (интерлейкин 28В, гаптоглобин, альфа1-антитрипсин, церулоплазмин, ферритин, аутоиммунные маркеры и др.).
                                li Генодиагностика болезней печени (синдром Жильбера, болезнь Вильсона-Коновалова).
                                li УЗИ органов брюшной полости и УЗ-допплерграфия сосудов печени
                                li Ультразвуковая эластометрия на аппарате « Фиброскан», для неинвазивной оценки фиброза печени.
                                li Лучевые методы исследования (КТ-, МРТ-диагностка, включая холагиографию)
                                li Пункционная бопсия печени
                                li Морфологическая диагностика болезней печени, гистологические, гистохимические методы исследования.
                    .headered_horizontal
                        span Процедуры и диагностические исследования
                        article
                            ol.compact_list
                                li Современная лабораторная диагностика болезней печени с  использованием маркеров оценки эффективности лечения (интерлейкин 28В, гаптоглобин, альфа1-антитрипсин, церулоплазмин, ферритин, аутоиммунные маркеры и др.).
                                li Генодиагностика болезней печени (синдром Жильбера, болезнь Вильсона-Коновалова).
                                li УЗИ органов брюшной полости и УЗ-допплерграфия сосудов печени
                                li Ультразвуковая эластометрия на аппарате « Фиброскан», для неинвазивной оценки фиброза печени.
                                li Лучевые методы исследования (КТ-, МРТ-диагностка, включая холагиографию)
                                li Пункционная бопсия печени
                                li Морфологическая диагностика болезней печени, гистологические, гистохимические методы исследования.
                    .headered_horizontal
                        span Операции
                        article
                            ol.compact_list
                                li Современная лабораторная диагностика болезней печени с  использованием маркеров оценки эффективности лечения (интерлейкин 28В, гаптоглобин, альфа1-антитрипсин, церулоплазмин, ферритин, аутоиммунные маркеры и др.).
                                li Генодиагностика болезней печени (синдром Жильбера, болезнь Вильсона-Коновалова).
                                li УЗИ органов брюшной полости и УЗ-допплерграфия сосудов печени
                                li Ультразвуковая эластометрия на аппарате « Фиброскан», для неинвазивной оценки фиброза печени.
                                li Лучевые методы исследования (КТ-, МРТ-диагностка, включая холагиографию)
                                li Пункционная бопсия печени
                                li Морфологическая диагностика болезней печени, гистологические, гистохимические методы исследования.
                    .headered_horizontal
                        span Процедуры и диагностические исследования
                        article
                            ol.compact_list
                                li Современная лабораторная диагностика болезней печени с  использованием маркеров оценки эффективности лечения (интерлейкин 28В, гаптоглобин, альфа1-антитрипсин, церулоплазмин, ферритин, аутоиммунные маркеры и др.).
                                li Генодиагностика болезней печени (синдром Жильбера, болезнь Вильсона-Коновалова).
                                li УЗИ органов брюшной полости и УЗ-допплерграфия сосудов печени
                                li Ультразвуковая эластометрия на аппарате « Фиброскан», для неинвазивной оценки фиброза печени.
                                li Лучевые методы исследования (КТ-, МРТ-диагностка, включая холагиографию)
                                li Пункционная бопсия печени
                                li Морфологическая диагностика болезней печени, гистологические, гистохимические методы исследования.
                #tab_2
                    .image_gallery
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")
                        a(href="img/gallery.jpg").image_gallery_item.popup_img
                            img(src="img/gallery.jpg", alt="#")

                #tab_3
                    .headered_horizontal
                        span.headered_horizontal_smallspan Николаев Илья Николаевич
                            span 11.03.17
                        article
                            p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей.
                    .headered_horizontal
                        span.headered_horizontal_smallspan Николаев Илья Николаевич
                            span 11.03.17
                        article
                           p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей. Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики.
                    .headered_horizontal
                        span.headered_horizontal_smallspan Николаев Илья Николаевич
                            span 11.03.17
                        article
                            p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей. Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики.
                    .headered_horizontal
                        span.headered_horizontal_smallspan Процедуры и диагностические исследования
                            span 11.03.17
                        article
                            p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей. Клинический отдел включает в себя 3 клинических отделения на 30 коек и 3 койки дневного стационара, а также кабинет ультразвуковой диагностики.

                #tab_4
                    article
                        p Гепатологический центр является основным лечебно-диагностическим подразделением, предназначенным для оказания высоко-квалифицированной специализированной консультативной и лечебно-диагностической помощи  пациентам с заболеваниями печени  и желчевыводящих путей.

                        p Основными показания для обследования и лечения в Гепатологическом центре являются:

                        ol.compact_list
                            li Хронический аутоиммунный гепатит.
                            li Первичный билиарный цирроз печени.
                            li Первичный склерозирующий холангит.
                            li Перекрестные аутоиммунные синдромы.
                            li Гемохроматоз.
                            li Болезнь Вильсона-Коновалова (с преимущественным поражением печени).
                            li Хроническая  неалкогольная болезнь печени (стеатоз, неалкогольный стеатогепатит).
                            li Алкогольная болезнь печени (стеатоз, алкогольный стеатогепатит).
                            li Хронический вирусный гепатит С.
                            li Хронический вирусный гепатит  В.
                            li Хронический вирусный гепатит D.
                            li Токсические поражения печени.
                            li Лекарственные поражения печени.
                            li Острый алкогольный гепатит.
                            li Дефицит альфа-1 — антитрипсина.
                            li Циррозы печени независимо от их этиологии (классы А, В, С по Чайлд-Пью).
                            li Хроническая печеночно-клеточная недостаточность неустановленной этиологии.
                            li Печеночная энцефалопатия.
                            li Необструктивные холестазы, включая холестаз беременных.
                            li Наследственные пигментные гепатозы.
                            li Гельминтозы  (эхинококкоз, альвеококкоз, описторхоз).
                            li Заболевания печени, обусловленные нарушением питания и обмена веществ.
                            li Поражения печени при системных заболеваниях.
                            li Желчнокаменная болезнь и хронический холецистит.
                            li Болезни сосудов печени.
                            li Носительство маркеров вирусных гепатитов В и C.
                            li Направление на трансплантацию печени.
                #tab_5
                    .img_list
                        .img_list_item
                            a(href="#").img_list_item_a
                                img(src="img/doctor.jpg", alt="#")
                            span.img_list_item_descr
                                span Бацков Сергей Сергеевич
                                span Заведующий клиническим отделом гастроэнтерологии.
                        .img_list_item
                            a(href="#").img_list_item_a
                                img(src="img/doctor.jpg", alt="#")
                            span.img_list_item_descr
                                span Бацков Сергей Сергеевич
                                span Заведующий клиническим отделом гастроэнтерологии.
                        .img_list_item
                            a(href="#").img_list_item_a
                                img(src="img/doctor.jpg", alt="#")
                            span.img_list_item_descr
                                span Бацков Сергей Сергеевич
                                span Заведующий клиническим отделом гастроэнтерологии.
                        .img_list_item
                            a(href="#").img_list_item_a
                                img(src="img/doctor.jpg", alt="#")
                            span.img_list_item_descr
                                span Бацков Сергей Сергеевич
                                span Заведующий клиническим отделом гастроэнтерологии.
                        .img_list_item
                            a(href="#").img_list_item_a
                                img(src="img/doctor.jpg", alt="#")
                            span.img_list_item_descr
                                span Бацков Сергей Сергеевич
                                span Заведующий клиническим отделом гастроэнтерологии.
                        .img_list_item
                            a(href="#").img_list_item_a
                                img(src="img/doctor.jpg", alt="#")
                            span.img_list_item_descr
                                span Бацков Сергей Сергеевич
                                span Заведующий клиническим отделом гастроэнтерологии.
                        .img_list_item
                            a(href="#").img_list_item_a
                                img(src="img/doctor.jpg", alt="#")
                            span.img_list_item_descr
                                span Бацков Сергей Сергеевич
                                span Заведующий клиническим отделом гастроэнтерологии.
