.slider_wr.content_width
    .slider_wr_core.swiper-container
        .swiper-wrapper
            .swiper-slide.slider_wr_core_item
                .slider_wr_core_item_left
                    .slider_wr_core_item_left_head Высокотехнологичная медицинская помощь
                    .slider_wr_core_item_left_slogan Радиационная медицина для каждого
                    a(href="#").bluebutton.button.arrowedbutton.slider_wr_core_item_left_button Подробнее
                .slider_wr_core_item_right
                    img(src="img/slide_1.png", alt="")
            .swiper-slide.slider_wr_core_item
                .slider_wr_core_item_left
                    .slider_wr_core_item_left_head Высококвалифицированная помощь медицины
                    .slider_wr_core_item_left_slogan Радиационная медицина для каждого
                    a(href="#").bluebutton.button.arrowedbutton.slider_wr_core_item_left_button Подробнее
                .slider_wr_core_item_right
                    img(src="img/slide_1.png", alt="")
            .swiper-slide.slider_wr_core_item
                .slider_wr_core_item_left
                    .slider_wr_core_item_left_head Высококвалифицированная помощь медицины
                    .slider_wr_core_item_left_slogan Радиационная медицина для каждого
                    a(href="#").bluebutton.button.arrowedbutton.slider_wr_core_item_left_button Подробнее
                .slider_wr_core_item_right
                    img(src="img/slide_1.png", alt="")
            .swiper-slide.slider_wr_core_item
                .slider_wr_core_item_left
                    .slider_wr_core_item_left_head Высококвалифицированная помощь медицины
                    .slider_wr_core_item_left_slogan Радиационная медицина для каждого
                    a(href="#").bluebutton.button.arrowedbutton.slider_wr_core_item_left_button Подробнее
                .slider_wr_core_item_right
                    img(src="img/slide_1.png", alt="")
        .slider_wr_core_pagination