ul.tmp_nav(style="padding: 1em;margin: 0;background-color: #ccc;display: inline-block;position: fixed;right: 1em;bottom: 1em;z-index: 99999999999;opacity: .8;")
    li
        a(href="index.html") index
    li
        a(href="ui.html") ui