.full_width
    .secondary_content.content_width
        aside.aside_secondary
            .aside_secondary_h Пациентам
            ul.aside_secondary_menu
                li
                    a(href="javascript://") Контакты
                    ul
                        li
                            a(href="#") Клинический отдел гастроэнтерологии и гепатологии
                        li
                            a(href="#") Клинический отдел пульмонологии и аллергологии
                        li
                            a(href="#") Клинический отдел терапии и профпатологии
                        li
                            a(href="#") Кардиологическое отделение
                        li
                            a(href="#") Отделение реанимации и интенсивной терапии
                        li
                            a(href="#") Приемное отделение
                        li
                            a(href="#") Амбулаторно-поликлиническое отделение
                        li
                            a(href="#") Отделение физиотерапии и лечебной физкультуры
                li.expanded
                    a(href="javascript://") Врачи
                    ul
                        li
                            a(href="#") Клинический отдел гастроэнтерологии и гепатологии
                        li
                            a(href="#") Клинический отдел пульмонологии и аллергологии
                        li
                            a(href="#") Клинический отдел терапии и профпатологии
                        li
                            a(href="#") Кардиологическое отделение
                        li
                            a(href="#") Отделение реанимации и интенсивной терапии
                        li
                            a(href="#") Приемное отделение
                        li
                            a(href="#") Амбулаторно-поликлиническое отделение
                        li
                            a(href="#") Отделение физиотерапии и лечебной физкультуры
                li
                    a(href="javascript://") Отделения
                    ul
                        li
                            a(href="#") Клинический отдел гастроэнтерологии и гепатологии
                        li
                            a(href="#") Клинический отдел пульмонологии и аллергологии
                        li
                            a(href="#") Клинический отдел терапии и профпатологии
                        li
                            a(href="#") Кардиологическое отделение
                        li
                            a(href="#") Отделение реанимации и интенсивной терапии
                        li
                            a(href="#") Приемное отделение
                        li
                            a(href="#") Амбулаторно-поликлиническое отделение
                        li
                            a(href="#") Отделение физиотерапии и лечебной физкультуры
            hr
            .be_pacient_online
                .be_pacient_online_h Онлайн-запись на прием к врачу
                a(href="#").button.orangebutton Стать пациентом
        section
            ul.breadcrumbs
                li
                    a(href="/")
                        .favicon
                li
                    a(href="#") Пациентам
                li
                    a(href="#") Клинический отдел гастроэнтрологии
                li
                    a(href="#") Статьи и публикации о здоровье и долголетии
                li
                    a(href="#") Для медиков и профессоров
                li Пероральный дексаметазон...
            article
                h1 Пероральный дексаметазон у взрослых пациентов с острой болью в горле
                p С апреля 2013 по февраль 2015 года проводилось двойное слепое плацебо-контролируемое рандомизированное исследование. В анализ были включены 576 взрослых пациентов, обратившихся к врачам общей практики по поводу острой боли в горле (Южная и Западная Англия). Боль в горле не требовала немедленного назначения антибактериальных препаратов. 

                p Пациентам назначали однократно дексаметазон 10 мг (n = 293) или плацебо (n = 283).

                p.important_p Острая боль в горле является одной из частных причин обращения за медицинской помощью к специалистам общей врачебной практике. Нередко пациентам назначают антибиотики, которые им не показаны. Кортикостероиды могут представлять собой альтернативную симптоматическую терапию.

                figure
                    img(src="img/content_img.jpg",alt="")
                    figcaption Из 565 участников исследования (средний возраст 34 года (от 26 до 45 лет)), 75,2% были женщинами. Все пациенты окончили исследование (288 получали дексаметазон и 277 - плацебо).
                figure
                    <iframe width="100%" height="415" src="https://www.youtube.com/embed/6kWO0tCEksg" frameborder="0" allowfullscreen></iframe>
                    figcaption Из 565 участников исследования (средний возраст 34 года (от 26 до 45 лет)), 75,2% были женщинами. Все пациенты окончили исследование (288 получали дексаметазон и 277 - плацебо).
                p Пациентам назначали однократно дексаметазон 10 мг (n = 293) или плацебо (n = 283).

                p Острая боль в горле является одной из частных причин обращения за медицинской помощью к специалистам общей врачебной практике. Нередко пациентам назначают антибиотики, которые им не показаны. Кортикостероиды могут представлять собой альтернативную симптоматическую терапию.
                table
                    tr
                        th Группа
                        th Мужчины
                        th Женщины
                    tr
                        td Номер A312
                        td Положительно
                        td Положительно
                    tr
                        td Номер Б123
                        td Положительно
                        td Положительно
                    tr
                        td Номер A312
                        td Положительно
                        td Положительно
                    caption Таблица 1.1. Из 565 участников исследования (средний возраст 34 года (от 26 до 45 лет)), 75,2% были женщинами. Все пациенты окончили исследование (288 получали дексаметазон и 277 - плацебо).
                a(href="#").read_more Читать далее
                ul
                    li Через 24 часа 65 участников из группы дексаметазона (22,6%) и 49 из группы плацебо (17,7%) достигли первичной конечной точки (различие между группами, 4.7% (95% CI, −1.8%-11.2%); относительный риск, 1.28 (95% CI; 0.92-1.78); P = 0.14). Таким образом, у пациентов, получавших дексаметазон, не отмечалось статистически значимое полное разрешение боли в горле, по сравнению с контрольной группой.
                    li Через 48 часов у 102 больных из группы кортикостероида (35,4%), по сравнению с 75 пациентами из контрольной группы (27,1%) отмечалось полное разрешение состояния (различие, 8.7% (95% CI, 1.2%-16.2%), относительный риск, 1.31 (95% CI, 1.02-1.68); P =0.03).
                    li Анализ показал достоверные различия между группами по последующему назначению антибиотиков (различие, 10.3% (95% CI, 0.6%-20.1%), относительный риск, 1.37 (95% CI, 1.01-1.87); P =0 .046).
                    li Не получено достоверных различий между исследуемыми группами по другим конечным точкам.
                    li Анализ показал достоверные различия между группами по последующему назначению антибиотиков (различие, 10.3% (95% CI, 0.6%-20.1%), относительный риск, 1.37 (95% CI, 1.01-1.87); P =0 .046).
                p.caption_p.caption_p_right «Из 565 участников исследования (средний возраст 34 года (от 26 до 45 лет)), 75,2% были женщинами. Все пациенты окончили исследование (288 получали дексаметазон и 277 - плацебо).»
                    span Илья Ильич. Глав Врач
                p Из 565 участников исследования (средний возраст 34 года (от 26 до 45 лет)), 75,2% были женщинами. Все пациенты окончили исследование (288 получали дексаметазон и 277 - плацебо).
                p Из 565 участников исследования (средний возраст 34 года (от 26 до 45 лет)), 75,2% были женщинами. Все пациенты окончили исследование (288 получали дексаметазон и 277 - плацебо).
                p Из 565 участников исследования (средний возраст 34 года (от 26 до 45 лет)), 75,2% были женщинами. Все пациенты окончили исследование (288 получали дексаметазон и 277 - плацебо).
                h2 Lorem ipsum dolor sit.
                ol
                    li Через 24 часа 65 участников из группы дексаметазона (22,6%) и 49 из группы плацебо (17,7%) достигли первичной конечной точки (различие между группами, 4.7% (95% CI, −1.8%-11.2%); относительный риск, 1.28 (95% CI; 0.92-1.78); P = 0.14). Таким образом, у пациентов, получавших дексаметазон, не отмечалось статистически значимое полное разрешение боли в горле, по сравнению с контрольной группой.
                    li Через 48 часов у 102 больных из группы кортикостероида (35,4%), по сравнению с 75 пациентами из контрольной группы (27,1%) отмечалось полное разрешение состояния (различие, 8.7% (95% CI, 1.2%-16.2%), относительный риск, 1.31 (95% CI, 1.02-1.68); P =0.03).
                    li Анализ показал достоверные различия между группами по последующему назначению антибиотиков (различие, 10.3% (95% CI, 0.6%-20.1%), относительный риск, 1.37 (95% CI, 1.01-1.87); P =0 .046).
                    li Не получено достоверных различий между исследуемыми группами по другим конечным точкам.
                    li Анализ показал достоверные различия между группами по последующему назначению антибиотиков (различие, 10.3% (95% CI, 0.6%-20.1%), относительный риск, 1.37 (95% CI, 1.01-1.87); P =0 .046).
                .content_file
                    //- img(src="img/svg/content_file.svg", alt="")
                    .content_file_img
                    .content_file_descr
                        span Статья о боли
                        a(href="#") DOCX
