.full_width
    .secondary_content.content_width
        include aside.pug
        section
            include breadcrumbs.pug
            article
                h1 Услуги и процедуры
                .abc_block
                    a(href="#").abc_block_item.anchor все
                    a(href="#").abc_block_item а
                    a(href="#").abc_block_item б
                    a(href="#").abc_block_item в
                    a(href="#").abc_block_item г
                    a(href="#").abc_block_item д
                    a(href="#").abc_block_item е
                    a(href="#").abc_block_item ж
                    a(href="#").abc_block_item з
                    a(href="#").abc_block_item и
                    a(href="#").abc_block_item.abc_block_item_empty к
                    a(href="#").abc_block_item л
                    a(href="#").abc_block_item м
                    a(href="#").abc_block_item.abc_block_item_current н
                    a(href="#").abc_block_item о
                    a(href="#").abc_block_item п
                    a(href="#").abc_block_item р
                    a(href="#").abc_block_item с
                    a(href="#").abc_block_item т
                    a(href="#").abc_block_item.abc_block_item_empty у
                    a(href="#").abc_block_item ф
                    a(href="#").abc_block_item х
                    a(href="#").abc_block_item ц
                    a(href="#").abc_block_item ч
                    a(href="#").abc_block_item ш
                    a(href="#").abc_block_item щ
                    a(href="#").abc_block_item э
                    a(href="#").abc_block_item ю
                    a(href="#").abc_block_item я
                .abc_list(data-title="а")
                    .abc_list_item
                        a(href="#") Абсцесс
                        span Ограниченный гнойно-воспалительный процесс жировой клетчатки.
                    .abc_list_item
                        a(href="#") Агглютинины, гемагглютинины
                        span Белковые антитела, способствующие соединению (склеиванию) корпускулярных частиц в организме между собой. Присутствуют в плазме крови и определяют принадлежность крови к той или иной группе.
                    .abc_list_item
                        a(href="#") Агенезия (недоразвитие) мозолистого тела
                        span Порок развития мозга, характеризующийся полным или частичным отсутствием мозолистого тела, соединяющего между собой 4 доли мозга. Причины могут быть различны – генетика, экология. Агенезия мозолистого тела может привести к серьезным проблемам в развитии ребенка, однако в некоторых случаях при слабой степени агенезии ребенок может развиваться нормально. Присутствует у 0,05-0,7% населения.
                    .abc_list_item
                        a(href="#") Агранулоцитоз (алейкия, анейтрофилез, гранулофтиз)
                        span Резкое снижение числа лейкоцитов, приводящее к повышенной восприимчивости к бактериальным и грибковым инфекциям.

                    .abc_list_item
                        a(href="#") Агрегация тромбоцитов
                        span соединение тромбоцитов с коллагеном (белок соединительной ткани). Процесс крайне важен для свертывания крови, заживления ран.
                    .abc_list_item
                        a(href="#") Аденин
                        span Пуриновое основание, являющееся составной частью нуклеиновых кислот (ДНК, РНК).
                    .abc_list_item
                        a(href="#") Аденоидит
                        span Воспаление аденоидов, железистой ткани, расположенной в задней части горла, выше мягкого неба. При этом происходит увеличение объема миндалевидных желез зева.
                    .abc_list_item
                        a(href="#") Аденоиды
                        span Разрастания носоглоточной миндалины, расположенной в верхней части зева. При воспалении вызывает многочисленные осложнения у детей: отиты, ларингиты, синуситы, фарингиты, риниты, бронхиты. При этом у ребенка часто затруднено носовое дыхание, он дышит ртом. Возникает длительный, не поддающийся лечению насморк.

                    .abc_list_item
                        a(href="#") Аденома
                        span доброкачественная эпителиальная опухоль, клетки которой формируют железистоподобные структуры.

                    .abc_list_item
                        a(href="#") Аденопатия
                        span Заболевание лимфатических узлов воспалительного, инфекционного или опухолевого происхождения.
                .abc_list(data-title="б")
                    .abc_list_item
                        a(href="#") Абсцесс
                        span Ограниченный гнойно-воспалительный процесс жировой клетчатки.
                    .abc_list_item
                        a(href="#") Агглютинины, гемагглютинины
                        span Белковые антитела, способствующие соединению (склеиванию) корпускулярных частиц в организме между собой. Присутствуют в плазме крови и определяют принадлежность крови к той или иной группе.
                    .abc_list_item
                        a(href="#") Агенезия (недоразвитие) мозолистого тела
                        span Порок развития мозга, характеризующийся полным или частичным отсутствием мозолистого тела, соединяющего между собой 4 доли мозга. Причины могут быть различны – генетика, экология. Агенезия мозолистого тела может привести к серьезным проблемам в развитии ребенка, однако в некоторых случаях при слабой степени агенезии ребенок может развиваться нормально. Присутствует у 0,05-0,7% населения.
                    .abc_list_item
                        a(href="#") Агранулоцитоз (алейкия, анейтрофилез, гранулофтиз)
                        span Резкое снижение числа лейкоцитов, приводящее к повышенной восприимчивости к бактериальным и грибковым инфекциям.
                ul.pagination
                    li.pagination_current 1
                    li
                        a(href="#") 2
                    li
                        a(href="#") 3
                    li
                        a(href="#") 4
                    li
                        a(href="#") 5
                    li
                        a(href="#") ...
                    li
                        a(href="#") 999
