<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug

    body
        include ./includes/header.pug

        //- include ./includes/cert_slider.pug
        //- include ./includes/logos_list.pug
        //- include ./includes/callback_block.pug
        include ./includes/footer.pug
