<!DOCTYPE html/>
html(lang="en")
    include ./includes/head.pug

    body
        .ui_block
            input(type="button" value="Подробнее")
            button Подробнее
            br
            br
            input(type="button" value="Подробнее").orangebutton
            button.orangebutton Подробнее
            br
            br
            input(type="button" value="Подробнее").bluebutton.arrowedbutton
            button.bluebutton.arrowedbutton Подробнее
            br
            br
            input(type="button" value="Подробнее").orangebutton.arrowedbutton
            button.orangebutton.arrowedbutton Подробнее
            br
            br
            a(href="#") Болезни и состояния